.fondoItem {
    background-color: var(--Green);
    height: 5rem;
    padding: 0 1rem;
    border-radius: 1rem;
    color: white;
    text-align: center;
    text-align: center;
    margin: 3rem -49rem 3rem -25rem;
    .containerCenter {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        height: 100%;
        .result{
            margin:0 .5rem;
            font-size: 1rem;
            font-weight: 600;
        }
    
    }
    
}
