<div class="row container">
    <div class="col-lg-4 offset-lg-4">
        <div class="row">
            <div class="col-lg-12">
                <div class="fondoItem">
                    <div class="containerCenter">
                        <p class="result">Su resultado es: {{ resultado }}</p>
                        <p class="result"> Tiene un IMC: {{ bmi }}</p>
                        <p class="result">{{ interpretacion }}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

