body {
    background-image: url('../../../assets/background.jpg');
    background-position: center;
    background-size: cover;
    height:100vh;
    // width: 100vw;
}
.title {
    margin: 1rem;
    text-align: center;
    color: var(--BlueStrong);
}
.fondoItem {
    background-color: var(--Green);
    height: 8.5rem;
    margin: 0.5rem;
    border-radius: 1.5rem;
    color: white;
    text-align: center;
    .containerCenter {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100%;
        .styleNumber{
            font-size: 2rem;
            font-weight: 800;
            margin-top: -2rem;
        }
    }
}
.form-range{
    padding: 0rem 2rem;
}

input[type=range]::-webkit-slider-thumb {
    background:var(--BlueStrong);
}
.btn-color {
    background-color: var(--BlueStrong);
    border-color:var(--BlueStrong);
    border-radius: 1.5rem;
    width: 100%;

}

.gender {
    font-size: 3rem;
}

.sumRes{
    cursor: pointer;
    background-color: var(--BlueStrong);
    padding: 0.6rem;
    border-radius: 2rem;
    // margin-top: 1rem;
    margin-left: 0.3rem;
}


.genderDeactivated {
    background-color: #7D2F2F33;
}