<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <app-nav-bar></app-nav-bar>
    <div class="row"> 
        <div class="col-lg-4 offset-lg-4">
            <h2 class="title">Calculadora</h2>
            <h2 class="title">Indice de Masa</h2>
            <div class="row">
                <div class="col-lg-6">
                    <div class="fondoItem" [ngClass]="{ 'genderDeactivated': genero === 'Femenino'}">
                        <div class="containerCenter" style="cursor: pointer;" (click)="genderMars()">
                            <fa-icon class="icon gender" [icon]="faMars"></fa-icon>
                            <p>Masculino</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="fondoItem" [ngClass]="{ 'genderDeactivated': genero === 'Masculino'}">
                        <div class="containerCenter" style="cursor: pointer;" (click)="genderVenus()">
                            <fa-icon class="icon gender" [icon]="faVenus"></fa-icon>
                            <p>Femenino</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="fondoItem">
                        <div class="containerCenter">
                            <p>Altura</p>
                            <div class="styleNumber">{{altura}}<span>cm</span></div>
                            <input type="range" (input)="changeHeight($event)" [value]="altura" min="100" max="220" class="form-range" id="">
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6">
                    <div class="fondoItem">
                        <div class="containerCenter">
                            <p>Peso</p>
                            <div class="styleNumber">{{peso}}</div>
                            <div>
                                <fa-icon class="icon sumRes" [icon]="faMinus" (click)="peso = peso -1"></fa-icon>
                                <fa-icon class="icon sumRes" [icon]="faPlus" (click)="peso = peso +1"></fa-icon>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="fondoItem">
                        <div class="containerCenter">
                            <p>Edad</p>
                            <div class="styleNumber">{{edad}}</div>
                            <div>
                                <fa-icon class="icon sumRes" [icon]="faMinus"
                                (click)="edad = edad -1"></fa-icon>
                                <fa-icon class="icon sumRes" [icon]="faPlus"
                                (click)="edad = edad +1"></fa-icon>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <button class="btn btn-primary btn-lg btn-block btn-color" (click)="calculate()">Calcular</button>
                </div>
            </div>
        </div>
    </div>
    
</body>
</html>
