<body>
<app-nav-bar></app-nav-bar>
<div class="containerMedicalAppointments pt-3" >
    <app-result-bmi-calculator class="mt-4"></app-result-bmi-calculator>
    <div class="row mt-3">
        <div class="col-lg-6">
            <app-create-medical-appointments (newAppointment)="addAppointments($event)"></app-create-medical-appointments>
        </div>
        <div class="col-lg-6">
            <app-medical-appointment-list [appointmentsList]="listAppointments" (deleteAppointments)="deleteAppointmentsListed($event)"></app-medical-appointment-list>
        </div>        
    </div>
</div>
</body>