<!-- <p>register-user works!</p> -->
<app-nav-bar></app-nav-bar>
<body>
    <!--<app-navbar></app-navbar>-->

    <div class="containerLogin">

        <!-- <div class="containerImg">
            <img src="../../../assets/5207289.jpg">
        </div> -->



        <div class="card m-4">
            <div class="card-body">
                    <div class="form-login">
                        <img id="imgLogin" src="../../../assets/logo.png">
                        <!-- <h4 class="fontGermania">Consultorios LliBot</h4> -->
                        <input type="email" id="email" class="form-control input-sm chat-input mt-4" placeholder="Ingrese su email" />
                        <input type="text" id="user" class="form-control input-sm chat-input mt-4" placeholder="Ingrese su nombre" />
                        <input type="password" id="password" class="form-control input-sm chat-input mt-4" placeholder="Ingrese contraseña"/>
                        <div class="content-row">
                            <input type="checkbox" class="checkbox-terms-conditions">
                            <p>He leído y acepto los <span>Terminos y condiciones</span></p>
                        </div>
                        
                        <div class="wrapper mt-4">
                            
                        <div class="group-btn">
                            <button type="button" class="btn btn-primary" (click)="UserRegister()">Guardar</button>
                        </div>
                        <p class="center-elements">¿Ya tienes cuenta?<span><button id="btnGoToLogin" (click)="GoToLogin()">Ingresa aquí</button></span></p>
                        </div >
                        
                    </div>
            </div>
        </div>
        

    </div>
    <app-footer></app-footer>
    
</body>