body {
    // height: 100vh;
    // width:  100vw;
    background-image: url('../../../assets/background.jpg');
    background-position: center;
    background-size: cover;
    height:100vh;
}

.form-login{
    display: flex;
    flex-direction: column;
    align-items: center;

}
.containerLogin {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 0 6rem 0;
    

    .containerImg{
        // background-color: var(--Green);
        display: flex;
        justify-content: center;
        width: 50%;
      
        img {

            width: 80%;
        }
    }

    .card{
        padding: 2rem;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        box-shadow: 0 0.1rem 0.2rem rgba(0, 0, 0, 0.2);
        #imgLogin{
            margin: 1.5rem;
            width: 10rem;
        }
        .wrapper{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;

            .btn {
                background-color: var(--Green);
                border: none;
            }
        }
        .content-row{
            display: flex;
            flex-direction: row;
            // align-items: center;
            justify-content: center;
            padding: 0.5rem;
            .checkbox-terms-conditions{
                margin-top: 0.3rem;
                margin-right: .5rem;
            }
        }


    }

     #btnGoToLogin{
         background:none;
         border: none;
         text-decoration: underline;
         color: var(--Green);
    }

    .center-elements{
        margin: 1rem 0;
    }
}