<!-- <p>footer works!</p> -->
<footer class="containerFooter">
    <div class="boxFooter">
        <img src="../../../assets/logo.png">

    </div>
    <div class="boxFooter">
        <p class="titleBoxFooter">Siguenos</p>
        <div class="containerIcons">
            <fa-icon class="icon" [icon]="faCoffee"></fa-icon>
            <fa-icon class="icon" [icon]="faFb"></fa-icon>
            <fa-icon class="icon" [icon]="faIg"></fa-icon>
        </div>
    </div>
    <div class="boxFooter">
        <p class="titleBoxFooter">Contacto</p>
        <p>info@consulorio.pe</p>
        <p>+51 925 758 454</p>
    </div>
    <div class="boxFooter">
        <p class="titleBoxFooter">Recursos</p>
        <p>Libro de reclamaciones</p>

    </div>
</footer>