.containerFooter{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
    background-color: var(--BlueStrong);
    padding:1rem;
    .boxFooter{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        color: var(--White);
        .titleBoxFooter{
            
        }
        img{
            width:12rem;
        }
        .containerIcons{
            display: flex;
            flex-direction: row;
            justify-content: space-evenly;
            .icon{
                font-size: 1.5rem;
                margin: 0rem 0.5rem;

            }
        }

    }
}