<app-nav-bar></app-nav-bar>
<div class="container-patients">
    <div class="container-menu-patients">
        <div class="container-title">
             <p>Historial del paciente</p>
        </div>
        <div class="information-patiente">
            <div class="card">
                <div class="card-header">
                 Información del paciente
                </div>
                <div class="card-body">
                  <h5 class="card-title">Special title treatment</h5>
                  <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                  <a href="#" class="btn btn-primary">Editar</a>
                </div>
              </div>

        </div>
        <div class="container-history d-flex fx-row">
            <div class="container-appointment">
                <button type="button" class="btn btn-success btn-add-appointment">Crear Cita</button>
                <table class="table table-bordered">
                    <thead>
                    <tr>
                        <th scope="col">Nro. de Cita</th>
                        <th scope="col">Fecha</th>
                        <th scope="col">Estado</th>
                        <th scope="col">Acciones</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <th scope="row">1</th>
                        <td>Mark</td>
                        <td>Otto</td>
                        <td><button type="button" class="btn btn-primary">Ver Cita</button></td>
                    </tr>
                    <tr>
                        <th scope="row">2</th>
                        <td>Jacob</td>
                        <td>Thornton</td>
                        <td><button type="button" class="btn btn-primary">Ver Cita</button></td>
                    </tr>
                    <tr>
                        <th scope="row">3</th>
                        <td>Larry the Bird</td>
                        <td>@twitter</td>
                        <td><button type="button" class="btn btn-primary">Ver Cita</button></td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="container-diagnostycs">
                <table class="table table-bordered ">
                    <thead>
                    <tr>
                        <th scope="col">Nro. de Cita</th>
                        <th scope="col">Diagnostico</th>
                        <th scope="col">Tratamiento</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <th scope="row">1</th>
                        <td>Mark</td>
                        <td>Otto</td>
                        
                    </tr>
                    <tr>
                        <th scope="row">2</th>
                        <td>Jacob</td>
                        <td>Thornton</td>
                        
                    </tr>
                    <tr>
                        <th scope="row">3</th>
                        <td>Larry the Bird</td>
                        <td>@twitter</td>
                        
                    </tr>
                    </tbody>
                </table>

            </div>
            
        </div>
    </div>
</div>

