.container-patients {
    background-image: url('../../../assets/background.jpg');
    background-position: center;
    background-size: cover;
    height:100vh;
    width: 100%;
    .container-menu-patients {
        .container-title{
            width: 100%;
            text-align: center;
            padding: 2rem 0 0 0;
            color: white;
            font-weight: 600;
            font-size: 3rem;
        }
        .information-patiente{
            margin: 0 3rem;
            width: 90%;
        }
        .container-history {
            margin: 3rem;
            width: 100%;
            .container-appointment{
                width: 40%;
                .btn-add-appointment {
                    width: 12rem;
                    margin: 1rem 0;
                }
                table {
                    background-color: white;
                }
            }
            .container-diagnostycs{
                width: 40%;
                margin: 4.5rem;
                .table {
                    background-color: white;
                }
            }
            
        }
    }
}