<div class="card bg-light">
    <div class="card-body">
        <h5 class="card-title text-center">Agregar Cita </h5>
        <div *ngIf="wrongForm" class="text-center m-2">
            <span class="badge bg-danger">Todos lo campos son obligatorios</span>
        </div>        
        <div class="form-group mb-3">
            <label for="name">Nombre</label>
            <input type="text" id="name" [(ngModel)]="name" class="form-control" placeholder="Ingrese su nombre">
        </div>
        <div class="form-group mb-3">
            <label for="date">Fecha</label>
            <input type="date" id="date"  [(ngModel)]="date"  class="form-control">
        </div>
        <div class="form-group mb-3">
            <label for="time">Hora</label>
            <input type="time" id="time" [(ngModel)]="time"  class="form-control">
        </div>        
        <div class="form-group mb-3">
            <label for="time">Especialidad</label>
            <select [(ngModel)]="specialty" class="form-select" aria-label="Default select example">
                <option value="Medicina General">Medicina General</option>
                <option value="Pediatria">Pediatria</option>
                <option value="Odontologia">Odontologia</option>
                <option value="Neumologia">Neumologia</option>
            </select>
        </div>
        <div class="form-group mb-3">
            <label for="sintomas">Sintomas</label>
            <textarea  id="sintomas" [(ngModel)]="symptom" rows="3" class="form-control"  placeholder="Ingrese los sintomas"></textarea>
        </div>
        <button style="width: 100%;" (click)="addAppointments()" class="btn btn-primary btn-block">Agregar cita</button>
    </div>
</div>
