.container-administrador{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url('../../../assets/background.jpg');
     background-position: center;
     background-size: cover;
     height:100vh;
     .text-welcome{
         margin:4rem;
         color: white;
     }
    .container-menu {
        display: flex;
        flex-direction: row;
        .btn-container{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            text-decoration: none;
            img {
                margin:8rem 1rem 0 1rem;
            }
            span {
                margin:2rem 3.5rem;
                font-size: 2rem;
                color: var(--BlueStrong);
            }
        }
        .container-menu-item {
            display: flex;
            flex-direction: column;
            .btn-reports{
                display: flex;
                flex-direction: column;
                align-items: center;
                height: 15rem;
                width: 20rem;
                margin:1rem;
                border-radius: 2rem;
                background-color:white;
                cursor: pointer;
                box-shadow: 0.5rem 1rem 0.5rem rgba(0, 0, 0, 0.2);
                img {
                    width: 10rem;
                    margin:1.5rem 0 0 0;
                }
                span {
                    // margin:2rem 3.5rem;
                    font-size: 1.6rem;
                    color: var(--BlueStrong);
                }
            }
        }
        .btn-doctors{
            height: 32rem;
            width: 15rem;
            margin:1rem;
            border-radius: 2rem;
            background-color: white;
            cursor: pointer;
            box-shadow: 0.5rem 1rem 0.5rem rgba(0, 0, 0, 0.2);
        }
    }
}