<app-nav-bar></app-nav-bar>
<div class="container-administrador">
    <div class="text-welcome">
        <h1>¡Bienvenido Luis Mescco!</h1>
    </div>
   
    <div class="container-menu">
        <a class="btn-container" (click)="GoToCrudDoctor()" >
            <div class="container-menu-item btn-doctors" >
                <img src="../../../assets/5207289.jpg">
                <span>Doctores</span>
            </div>
        </a>
        

        <div class="container-menu-item">
            <a (click)="GoToReportAppointment()">
                <div class="btn-reports">
                    <img src="../../../assets/reports-appointment.png">
                <span>Reporte de citas</span>
                </div>
            </a>
            <a (click)="GoToReportDoctor()">
                <div class="btn-reports">
                    <img src="../../../assets/reports-doctor.png">
                <span>Reporte de doctores</span>
                    
                </div>
            </a>
            
        </div>
    </div>

</div>

