<app-nav-bar></app-nav-bar>
<div class="containerInfo">
    <h1 class="title">BIENVENIDOS A LLIBOTT CONSULTORIOS MEDICOS </h1>
    <h3 class="info">Un concepto nuevo y moderno de atención primaria de salud encodado en llevar sercios de ala calidad</h3>
</div>
<div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="../../../assets/banner.webp" class="d-block w-100" alt="...">
        <div class="carousel-caption d-none d-md-block">
          <h5 class="infoSlide">Atención y asistencia completa</h5>
          <p class="infoSlide">Atención ambulaoria y a domicilio, para cuidarte donde estes</p>
        </div>
      </div>
      <div class="carousel-item">
        <img src="../../../assets/banner1.webp" class="d-block w-100" alt="...">
        <div class="carousel-caption d-none d-md-block">
          <h5 class="infoSlide">Staff médico especializado</h5>
          <p class="infoSlide">Tendrás a tu disposición a los mejores especialistas para el cuidado de tu salud</p>
        </div>
      </div>
      <div class="carousel-item">
        <img src="../../../assets/banner.webp" class="d-block w-100" alt="...">
        <div class="carousel-caption d-none d-md-block">
          <h5 class="infoSlide">Servicios de Medicina Integrativa</h5>
          <p class="infoSlide">Tendras apoyo psicológico y asesoria nutricional</p>
        </div>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>

  <div class="containerExploreMore">
    <div class="containerDescription">
        <p> La transformación digital de la medicina es un proceso fundamental de cambio en el sistema sanitario que se está produciendo en la actualidad. A medida que más médicos y pacientes adoptan los servicios de teleconsulta, el mercado de las plataformas para teleconsulta online se vuelve cada vez más competitivo.
        </p>
    </div>
    <div class="containerButtonExploreMore">
        <button type="button" class="btn btn-primary" (click)="ExploreMore()">¡Comienza la experiencia aqui!</button>
    </div>
  </div>

  <app-footer></app-footer>
    



