.containerInfo {
    display: flex;
    flex-direction: column;
    background-color: var(--BlueStrong);
    color: var(--White);
    .title{
        margin: 0.5rem;
        font-size: 1.5rem;
        font-style: bold;
    }
    .info{
        margin: 0rem 0rem 0.5rem 0.5rem;
        font-size: 1rem;
        font-style: italic;
    }
}

.infoSlide{
    color: var(--BlueStrong);
}

.carousel-indicators [data-bs-target] {
    background-color: var(--BlueStrong);
}

.containerExploreMore {
    background-color: #88cae3;
    display: flex;
    flex-direction: row;
    padding: 4rem 2rem;
    .containerDescription{
        width: 50%;
        text-align: justify;
        color: var(--White);
        font-style: italic;
        margin-left: 5rem;
    }
    .containerButtonExploreMore{
        display: flex;
        width: 50%;
        margin: 1rem 2rem;
        justify-content: center;
        align-items: center;
        // background-color: var(--Green);
        button {
            background: none;
            padding: 0.8rem 4rem;
            border: none;
            font-style:italic;
        }
    }
}



