<!-- <p>nav-bar works!</p> -->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
        <a class="navbar-brand" href="#"><img class="logo" src="../../../assets/logo.png"></a>
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" (click)="GoToRegisterUser()">Registrarse</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" (click)="GoToLogin()">Iniciar Sesión</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" (click)="GoToBmiCalculator()">Calculadora IMC</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" (click)="GoToMenuAdministrator()">Menu Administrador</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" (click)="GoToMenuPatients()">Menu Paciente</a>
          </li>
        </ul>
        <!-- <form class="d-flex">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success" type="submit">Search</button>
        </form> -->
      </div>
    </div>
  </nav>