<body>
    <div class="containerLogin">
        <div class="containerImg">
            <img src="../../../assets/5207289.jpg">
        </div>
        <div class="card m-4">
            <div class="card-body">
                    <div class="form-login">
                        <img id="imgLogin" src="../../../assets/logo.png">
                        <input type="text" id="user" [(ngModel)]="user" class="form-control input-sm chat-input mt-4" placeholder="Ingresar email" />
                        <input type="password" id="password" class="form-control input-sm chat-input mt-4" placeholder="Ingresar contraseña"/>
                        <div class="wrapper mt-4">
                        <span class="group-btn">
                            <button type="button" class="btn btn-primary" (click)="Login()">Ingresar</button>
                        </span>
                        </div>
                    </div>
            </div>
        </div>
    </div>
    <app-footer></app-footer>
    
</body>