body {
    height: 100vh;
    width:  100vw;
}
.containerLogin {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin: 10rem 0 5rem 0;;

    .containerImg{
        // background-color: var(--Green);
        display: flex;
        justify-content: center;
        width: 50%;
        img {

            width: 80%;
        }
    }

    .card{
        padding: 2rem;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        box-shadow: 0 0.1rem 0.2rem rgba(0, 0, 0, 0.2);
        #imgLogin{
            margin: 1.5rem;
            width: 10rem;
        }
        .wrapper{
            display: flex;
            justify-content: center;
            .btn {
                background-color: var(--Green);
                border: none;
            }
        }


    }
}