<app-nav-bar></app-nav-bar>
<body>
  <div class="container-search">
    <div>
      <form class="d-flex" role="search">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Buscar</button>
      </form>
      
    </div>
    <div>
      <button type="button" class="btn btn-primary">Agregar Doctor</button>
    </div>
    
  </div>
  
  
  <table class="table">
      <thead>
        <tr>
          <th scope="col">ID</th>
          <th scope="col">Nombres</th>
          <th scope="col">Apellidos</th>
          <th scope="col">Documento</th>
          <th scope="col">Número de Doc</th>
          <th scope="col">Especialidad</th>
          <th scope="col">Acciones</th>
  
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">1</th>
          <td>Mónica del Pilar</td>
          <td>Rivera Romero</td>
          <td>DNI</td>
          <td>12345678</td>
          <td>Medicina general</td>
          <td>
            <button type="button" class="btn btn-warning">Editar</button>
            <button type="button" class="btn btn-danger">Eliminar</button>
          </td>
        </tr>
      </tbody>
    </table>

</body>
  
