body {
    background-image: url('../../../assets/background.jpg');
     background-position: center;
     background-size: cover;
     height:100vh;
    //  width:auto;

     .container-search{
         padding: 5rem;
         display: flex;
         flex-direction: row;
        width: 100%;
        div {
            width: 50%;
            margin: 0 6rem 0 0;
        }
     }

     .table {
         width: 100rem;
         background-color: white;
         margin: 0 2rem 0 2rem;
     }
 }
 