/* You can add global styles to this file, and also import other style files */
* {
    font-family: 'Rubik', sans-serif;
}

:root {
    --Green: #7BC857;
    --BlueStrong: #437F97;
    --BlueLight: #ACEDFF;
    --Black: #000000;
    --Grey: #E7E4E4;
    --White: #ffffff;
  }