body {
    background-image: url('../../../assets/background.jpg');
    background-position: center;
    background-size: cover;
    height: 100vh;

//     table {
//         background-color: white;
//         position: absolute;
//         z-index: 1rem;
//         top:150%;
//         padding: 2rem;
        
// }
}