<!-- <p>medical-appointment-list works!</p> -->
<div *ngIf="appointmentsList.length === 0" class="card bg-light">
    <div class="card-body">
        <h5 class="card-title text-center">No hay citas para mostrar</h5>
    </div>
</div>
<div *ngFor="let appointment of appointmentsList; let i = index" class="card mb-2">
    <div class="card-body">
        <p class="card-text"><span>Nombre: </span>{{appointment.name}}</p>
        <p class="card-text"><span>Fecha: </span>{{appointment.date}}</p>
        <p class="card-text"><span>Hora: </span>{{appointment.time}}</p>
        <p class="card-text"><span>Especialidad: </span>{{appointment.specialty}}</p>
        <p class="card-text"><span>Sintomas: </span>{{appointment.symptom}}</p>
        <!-- <button style="width: 50%;" class="btn btn-warning btn-block mt-2" (click)="deleteAppointment(i)">Actualizar</button> -->
        <!-- <button type="button" class="btn btn-warning" data-bs-toggle="modal" data-bs-target="#exampleModal">
            Actualizar
          </button> -->
        <button style="width: 50%;" class="btn btn-danger btn-block" (click)="deleteAppointment(i)">Eliminar</button>
    </div>
    <!-- Button trigger modal -->

  
  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Actualice su cita</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <div class="form-group mb-3">
                <label for="name">Nombre</label>
                <input type="text" id="name" [(ngModel)]="nameUpdate" class="form-control" placeholder="Ingrese su nombre">
            </div>
            <div class="form-group mb-3">
                <label for="date">Fecha</label>
                <input type="date" id="date" [(ngModel)]="dateUpdate"  class="form-control">
            </div>
            <div class="form-group mb-3">
                <label for="time">Hora</label>
                <input type="time" id="time" [(ngModel)]="timeUpdate"  class="form-control">
            </div>
            <div class="form-group mb-3">
                <label for="time">Especialidad</label>
                <select [(ngModel)]="specialtyUpdate"  class="form-select" aria-label="Default select example">
                    <option value="Medicina General">Medicina General</option>
                    <option value="Pediatria">Pediatria</option>
                    <option value="Odontologia">Odontologia</option>
                    <option value="Neumologia">Neumologia</option>
                </select>
            </div>
            <div class="form-group mb-3">
                <label for="sintomas">Sintomas</label>
                <textarea  id="sintomas"  [(ngModel)]="symptomUpdate" rows="3" class="form-control"  placeholder="Ingrese los sintomas"></textarea>
            </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Guardar Cambios</button>
        </div>
      </div>
    </div>
  </div>
</div>

